*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #FFFFFF;
	--color-grey: #717171;
	--color-light-grey: #C1C1C1;
	--color-highlight: #ADFF2F;

    --color-podcast: #27856a;
    --color-exclusive: #1e3264;
    --color-podium: #8d67ab;
    --color-new: #e8115b;

    --topbar-height: 90px;
    --playbar-height: 90px;
    --side-width: 250px;
}




body{
    font-family: 'Montserrat', sans-serif;
}

/* utilities */

.hidden{
    display: none;
}

li{
    list-style: none;
}

.debug{
    border: 1px solid black;
    background-color: red;
}

a {
    color: var(--color-grey);
    text-decoration: none;
    height: 2.5EM;
}

.side-playlist-items:hover a{
    color: var(--color-white);
}
.main-nav-choise:hover a{
    color: var(--color-white);
}

.txt-wrap{
    text-wrap: nowrap;
}

.relative{
    position: relative;
}

.fixed{
    position: fixed;

}

.flex{
    display: flex;
}

.fl-row{
    flex-direction: row;
    
}

.fl-column{
    flex-direction: column;
    
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: flex-start;
}

.align-center{
    align-items: center;
}

.no-wrap{
    flex-wrap: nowrap;
}

.bar-index{
    z-index: 1000;
}

.bar-mar{
    margin-left: 10px;
    margin-right: 10px;
}
.play-mar{
    margin-left: 5px;
    margin-right: 20px;
}

.btn{
    color: var(--color-white);
}

#upgrade-button:hover{
    transition-duration: 3s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1.1) translate(-5px, -50%);
 
}

#upgrade-button:active{
    transform: scale(1) translate(5px, -50%);
}

.vertical-centered{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.txt-centered{
    text-align: center;
}
    /* circled images */
.circle {
    
    border-radius: 50%; 
    overflow: hidden; 
}


.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.mobile-visible-inline-block{
    display: none;
}

/* code */

#topbar{
    width: calc(100% - var(--side-width));
    height: var(--topbar-height);

    top: 0;
    left: var(--side-width);
    
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: row-reverse;
}

#playbar{
    width: 100%;
    height: var(--playbar-height);
    
    bottom: 0;
    left: 0;
    color: var(--color-grey);
    background-color: var(--color-dark-grey);
}

#sidebar{
    width: var(--side-width);
    height: calc(100vh - var(--playbar-height));

    background-color: var(--color-black);
    color: var(--color-grey);
    
}

#right-content{
    width: calc(100% - var(--side-width));
    height: calc(100vh - var(--playbar-height));
    padding-top: calc(var(--topbar-height) / 1.5);
    
    background-color: var(--color-dark-color);
    overflow-y: scroll;
}

/* sidebar */
.side-section:nth-child(1){
    flex-grow: 1;
    max-height: 70%;
    z-index: 250;
}



#logo{
    width: auto;
    height: var(--topbar-height);
    position: relative;
}

#logo-small{
    width: 20px;
    margin:  10px;
    padding-bottom: 20px;
}

#logo > .svg-container{
    width: 70%;
    height: auto;
    /* centered */
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#side-playlist-title{
    height: 20px;
    color: var(--color-white);
    font-style: bold;
}

#side-playlist-list{
    height: calc(100% - (20px + 40px + 40px));
    overflow-y: auto;
}

.side-choise-wrapper:hover{
    color: var(--color-white);
}

.side-choise{
    padding-bottom: 5px;
}

.sidegreen{
    width: 2px;
    margin-right: 8px;
    height: 1.5em;
    background-color: #ADFF2F;
    line-height: 100%;
}

#side-menu{
    height: 90px;
    padding: 5px 0;
}

#side-menu .svg-container > img{
    height: 1.2em;
    padding-right: 7px;
    fill: var(--color-grey);
}


.side-playlist{
    
    padding-top: 20px;
    height: calc(100% - (var(--topbar-height) + 100px));
}

.side-playlist-create{
    margin: 20px 0;
}

.side-playlist-create:hover{
    color: var(--color-white);
}

.side-playlist-create:hover #plus{
    background-color: var(--color-white);
}

.plus{
    font-size: 2em;
    color: var(--color-black);
    background-color: var(--color-light-grey);

    width: 40px;
    height: 40px;

    /* centering */
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
}

.side-playlist-items{
    padding: 5px 0;
}

#side-installer{
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    
    flex-wrap: wrap;
    
}

#side-installer:hover{
    color: var(--color-white);
}

.sidebar-options{
    max-width: 100%;
    
    
}

#side-installer > li{
    min-width: 40%;
    max-width: 51%;
    font-size: 0.65em;
    padding: 5px;
}

#side-globe{
    padding: 5px 10px;
    color: var(--color-white);
    font-style: bold;
    border: 1px solid var(--color-grey);
    border-radius: 16px;
    width: fit-content;
    margin-bottom: 10px;
}


/* topbar */

#upgrade-button{
    max-width: 75%;
    font-size: auto;
    padding: 5px 30px;
    justify-self: end;
    border: 1px solid var(--color-white);
    border-radius: 2em;
    margin-right: 20px;
}

/* right-content */

#main-nav{
    max-width: 100%;
    padding-top: 20px;
    color: var(--color-grey);
}

.main-nav-choise{
    line-height: 3em;
    padding: 0 10px;
}

.nav-choise-highlight{
    opacity: 0;

    background-color: var(--color-highlight);

    height: 2px;
    width: 30px;

    
}

.main-nav-choise:hover .nav-choise-highlight{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    opacity: 1;
}

.main-section{
    padding: 5px;
    color: var(--color-white);
}

.main-section-title{
    font-weight: 600;
    text-decoration: bolder;
    padding-left: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2em;
}

.main-section-subtitle{
    padding: 10px 0;
    /* half father dimensions */
    font-size: 0.5em;
    color: var(--color-grey);
}

.main-section-content{
    flex-wrap: wrap;
}

.progress-bar{
    
    height: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-grey);
    
    
}

.progress-filler{
    width: 40%;
    height: 100%;
    background-color: var(--color-white);
    overflow: hidden;
}

.progress-dot{
    display: none;

    background-color: var(--color-white);
    height: 1em;
    width: 1em;
    border-radius: 50%;
    transform: translate(-50%, 0);
}

.progress-bar:hover .progress-filler{
    transition-duration: 8s;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

#progress-time.progress-bar:hover .progress-filler{
    background-color: var(--color-highlight);
}

.progress-bar:hover .progress-dot{
    display: block;
}

/* cards (album) */
.outer-album{
    width: calc((100%  /  7) );
    height: calc((100vw - 250px) / 7 );
    padding: 10px;
}

.album{
    width: 100%;
    height: 100%;
    
    
    padding: 15px;
    
    flex-wrap: wrap;
    border-radius: 10px;
    position:relative;
    background-color: red;
    overflow: hidden;
}

.albm1{
    background-color: var(--color-podcast);
}
.albm2{
    background-color: var(--color-exclusive);
}
.albm3{
    background-color: var(--color-podium);
}
.albm4{
    background-color: var(--color-new);
}


.rounded-icon{
    border-radius: 190px;
    background-color: greenyellow;
}

.rotated-img{
    position: absolute;

    top: 50%;
    right: 0;
    
    max-width: 100px;
    height: 100px;

    transform: rotate(45deg) translate(30%, 20%);
    
}

.album-overlay{
    opacity: 0;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    
}

.album-overlay-content{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 4em;
    transform: translate(-50%, -50%);
}

.album:hover .album-overlay{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1.5s;
    opacity: 1;
}

.album-overlay-content > i{
    font-size: 4em;
    color: var(--color-white);
}

.album-description{
    padding: 5px;
}

.album-title{
    font-weight: bolder;
    margin: 10px 0;
}

.album-author{
    color: var(--color-grey);
}

.album img{
    display: block;
}

.img-container {
    width: 100%;
}


img{
    
    width: 100%;
    height: auto;
}

.main-faq{
    padding-top: 100px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--color-grey);
    font-size: 1.2em;
}

.faq-options{
    padding: 0 40px;
}

.faq-outer{
    width: 50%;
}

.faq-inner-list{
    color: var(--color-light-grey);
    margin: 10px 0;
}

.social-container{
    padding: 5px;
    margin: 5px;
    background-color: var(--color-dark-grey);
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.social-container i{
    transform: translate(25%, 15%);

}

.info-options{
    padding: 10px 15px;
}

#version{
    padding-right: 10px;
    color: var(--color-grey);
}

/* playbar */
#play-album{
    min-width: 200px;
    padding: 20px 10px 30px;
}

#playing-img{
    width: calc(var(--playbar-height) / 1.5);
    height: calc(var(--playbar-height) / 1.5);

}

#playing-title{
    color: var(--color-white);
}

#playing-author{
    font-size: 0.7em;
    text-wrap: nowrap;
}

#playing-author:hover{
    color: var(--color-white);
    text-decoration: underline;
}

#playing-svg{
    
    flex-direction: row;
}
#playing-svg .svg-container:hover i{
    color: var(--color-white);
}

#playing-svg .svg-container{
    padding-right: 10px;
}

i{
    color: var(--color-grey);
}



#console-top i{
    padding: 10px;
    color: var(--color-white);
    font-size: 1.2em;
}

#console-top i:hover{
    transform: scale(1.5);
}

#console-bottom, #console-top{
    max-width: 100%;
}

.console-time{
    padding: 0 15px;
}


#progress-time{
    width: 300px;
}

#playbar-settings{
    width: var(--side-width);
}

#playbar-setting i{
    color: var(--color-white);
    padding: 0 5px;
}

#playbar-setting i:hover{
    transform: scale(1.5);
}

#progress-volume{
    width: 150px;
    margin: 0 5px;
}


@media screen and (max-height: 620px) {
    #topbar{
        display: none;
    }

    .side-section:nth-child(1){
        display: flex;
        flex-direction: column;
        
        
        min-height: 100%;
        
    }
    .side-section:nth-child(2){
        display: none;
    }
}



@media screen and (max-width: 1100px){
    #main-nav{
        flex-wrap: wrap;
    }
    #play-album, #play-console, #playbar-setting{
        max-width: 33%;
        flex-shrink: 2;
    }
    
}


@media screen and (max-width: 768px){
    #playbar{
        flex-wrap: nowrap;
    }
    #playing-svg{
        flex-direction: column;
    }
    
    .no-wrap{
        flex-wrap: wrap;
    }
    
    .album{
        min-width: calc(100% / 4);
    }
    
    
}

@media screen and (max-width: 576px) {
    :root{
        --side-width: 50px;
    }

    .mobile-hidden{
        display: none;
    }

    #logo{
        height: 40px;
    }
    .fa-circle-down{
        transform: translate(calc(50% - 2px), 0);
    }

    .mobile-visible-inline-block{
        display: inline-block;
    }

    .album{
        min-width: calc(100% / 2);
    }

    #play-album{
        min-width: 0;
       
    }
    #playbar{
        justify-content: center;
    }
    #play-console{
        min-width: 100%;
        
        justify-self: center;
        
    }


    #console-bottom{
        max-width: 100%;
    }
    #side-globe{
        padding: 0;
        border: 0;
    }
    
}

@media screen and (max-width: 400px){
    #play-album{
        display: none;
    }

    

    .album{
        width: 100%;
    }

    #topbar{
        justify-content: center;
    }

    #upgrade-button{
        max-width: 100%;
        margin: 0 auto;
    }
}